h1 {
    text-align: center;
}

a {
    color: #212529;
    text-align: right;
    font-size: 25px;
}

.alingAdd {
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #212529;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: calc(50%);
    margin-right: calc(50% - 60vw);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}